
.nav {
  list-style-type: none;
  margin: 0;
  padding: 3%;
  display: flex;
  text-align: center;
  justify-content: space-between;
  width: 95%;
}
.header_item {display: inline;
}

body {
  background-color: rgb(105,105,105);
}

h1 {
  color: rgb(255,255,255);
  margin-top: 10px;
  font-family: arial;
  text-align: center;
  font-size: 55px;
}

header {
  padding-bottom: 20px;
}

h2 {
  font-family: arial;
  text-align: center;
  font-size: 40px;
  color: White;
}
h3 {
  color: White;
  text-align: left;
  padding-left: 10px;
  padding-bottom: 0px;
  font-size: 30px;
  font-family: arial:
}
div#heading {
  background-image: url("./karolinska_institutet.jpg");
  background-size: cover;
}

div#navigation {
  background-image: linear-gradient(rgb(0,0,0),rgb(105,105,105));
}

div#footer {
background-image: linear-gradient(rgb(0,0,0),rgb(75,75,75));
  color: rgb(255,255,255);
}


.btn {
  background-color: rgb(9,122,200);
font-family: arial;
outline-color: rgb(9,122,200);
}
.btn:hover {
  background-color: #23d5fc;
}


.carousel {
  width:50%;
  margin: auto;
}
p#paragraph {
  font: arial;
  font-size: 18pt;
  color: white;
  padding: 5px;
}
p#life {
  font: arial;
  font-size: 14pt;
  color: white;
  padding: 5px;
}

div#line {
  background-color: black;
}

div#footer_item {
  display:none;
}
div#footer_collumn {
  display: none;
}
a {
  color: white;
}

ul {list-style-type: none;
  margin: 0;
  padding: 3%;
  text-align: center;
  justify-content: space-between;
  width: 95%;
}
.footer_lists {display: inline;
}
table {
  border-collapse: collapse;
  width: 100%;

}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

.card {
height: 40rem;
}

ul#facts {
color: white;
text-align: left;
padding-left: 10px;
padding-top: 0px;
}

div#quiz{
  padding-left: 3%;
  font-size: 14pt;
  color:white;
}

h3#contact {
  text-align: center;
  fontistyle: arial;
}
