
.nav {
  list-style-type: none;
  margin: 0;
  padding: 3%;
  display: flex;
  text-align: center;
  justify-content: space-between;
  width: 95%;
}
.header_item {display: inline;
}

body {
  background-color: rgb(105,105,105);
}

h1 {
  color: rgb(255,255,255);
  margin-top: 10px;
  font-family: bitter;
  text-align: center;
  font-size: 55px;
}

header {
  padding-bottom: 20px;
}

h2 {
  font-family: bitter;
  text-align: center;
  font-size: 40px;
  color: White;

}

div#heading {
  background-image: url("./karolinska_institutet.jpg");
  background-size: cover;

}
div#navigation {
  background-image: linear-gradient(rgb(0,0,0),rgb(105,105,105));

}

div#footer {
  background-color: rgb(120,72,72);
  color: rgb(255,255,255);
}


.btn {
  background-color: #4CAF50; /* Green */
font-family: Papyrus;
}
.btn:hover {
  background-color:
}
.carousel {
  width:50%;
  margin: auto;
}
p {
  font-size: 18pt;
  color: white;
  padding: 5px;
}

div#footer_item {
  display:none;
}
div#footer_collumn {
  display: none;
}

ul {list-style-type: none;
  margin: 0;
  padding: 3%;
  text-align: center;
  justify-content: space-between;
  width: 95%;
}
.footer_lists {display: inline;
}
table {
  border-collapse: collapse;
  width: 100%;
  
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}
