body {
  background-color: rgb(200,200,200);
}

h1 {
  color: rgb(0,0,0);
  margin-top: 10px;
  font-family: bitter;
  text-align: center;
  font-size: 55px;
}

header {
  padding-bottom: 20px;
}

h2 {
  color: rgb(238,130,238);
}
