body {
  background-color: rgb(50,50,50);
}


h1 {
  color: rgb(255,255,255);
  margin-top: 25px;
  font-family: bitter;
  text-align: center;
  font-size: 65px;
}

h2 {
  color: rgb(255,255,255);
  margin-top: 25px;
  font-family: bitter;
  text-align: center;
  font-size: 65px;
}
