body {
  background: rgb(50,50,50);
  background-position: center;
  background-size: cover;
}


h1 {
  color: rgb(255,255,255);
  margin-top: 25px;
  font-family: arial;
  text-align: center;
  font-size: 65px;
}

h2 {
  color: rgb(255,255,255);
  margin-top: 25px;
  font-family: arial;
  text-align: center;
  font-size: 65px;
}
